#intro {
    background-image: url(https://i.imgur.com/tGcPjkx.png);
    height: 100vh;
  }
.navbar .navbar-brand{
    color: #656297 !important;
  }
.navbar .nav-link {
    font-size: large;
}
.mask {
    backdrop-filter: blur(5px);
    height: 100vh;
    background-color: rgba(178, 60, 253, 0.2);
}
body {
    overflow: hidden;
}
#form {
    padding-top: 5%;
}